@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:red;">Welcome</h1>
    <p style="font-family:Kristen ITC; line-height:2em; background-color:seagreen; color:white;">LoveHome Pet adoption company is a non-profit organization. The company is located in Windsor, Canada. 
    It covers an area of ​​500 square meters and has 10 employees. The company adopts stray dogs, stray cats and other animals. 
    After cleaning and treatment, healthy pets are welcome to be adopted by families and individuals.</p>
    <p style="line-height:2em; background-color:seagreen; ">Please click <a href="https://goo.gl/maps/bjK9Lfy7zivJ4DVb7" alt="LoveHomeMap"><strong>here</strong></a></p>
</div>
<div style="margin: 0 auto">
    <div style="display:inline-block; "><img alt="cat" src='@Url.Content("~/image/cat.jpg")' /></div>
    <div style="display:inline-block; "><img alt="cat" src='@Url.Content("~/image/dog.jpg")' /></div>
    <div style="display:inline-block;"><img alt="cat" src='@Url.Content("~/image/hamster.jpg")' /></div>
</div>