@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-family:Britannic">To the LoveHome Pet Adoption Company</p>
</div>
<div style="margin: 0 auto;">
    <div style="display:inline-block;"><img alt="cat" src='@Url.Content("~/image/cat.jpg")' /></div>
    <div style="display:inline-block;"><img alt="cat" src='@Url.Content("~/image/dog.jpg")' /></div>
    <div style="display:inline-block;"><img alt="cat" src='@Url.Content("~/image/hamster.jpg")' /></div>
</div>